.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: cyan;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.block {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1 auto;
}

.header {
  text-align: center;
}

.sidebar {
  //max-width: 100%;
}

.content {
  margin-left: 20px;
}

img {
  max-height: 560px;
}

.footer {
  display: flex;
  height: 42px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}

.subtitle {
    text-align: center;
}

.section1 {
    text-align:center
}